
/* ------------------- Default Styles v01 ------------------- */
@import url('https://fonts.googleapis.com/css?family=EB+Garamond|Poiret+One&display=swap');

:root {
    --pc: hsl(270, 60%, 35%);
    --sc: hsl(45, 20%, 90%);
    --tc: hsl(135, 80%, 0%);
    --po: 'Poiret One';
    --ebg: 'EB Garamond';
}

body {margin: 0;}

/* ------------------- Alert Box Styles v05 ------------------- */
/* The alert container */
#alertContainer {
    display: none; /* TEMPORARY CHANGE */
    background-color: var(--pc);
    color: white;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    text-align: center;
}

/* The alert message box */
#intro {
    position: relative;
    top: 40vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* The alert message */
#introText {
    margin-bottom: 2.5vh;
    font-family: var(--po, 'cursive');
    font-size: 5vh;
    font-weight: bolder;
}

/* The alert message button */
#introBtn {
    background-color: var(--sc);
    color: var(--tc);
    border: 2px solid #fff;
    border-radius: 5px;;
    padding: 5px 10px;
    font-family: var(--po, 'serif');
    font-size: 3vh;
    font-weight: bolder;
}

#introBtn:active {
    background-color: var(--pc);
    color: white;
    border: 1px solid #fff;
}

/* The close button */
#closeBtn {
    display: none;
    position: relative;
    top: 5px;
    right: 10px;
	color: white;
	font-weight: bold;
	float: right;
	font-size: 22px;
	line-height: 20px;
    cursor: pointer;
    opacity: 1;
	transition: opacity 0.3s;
}

/* When moving the mouse over the close button */
#closeBtn:hover {
	color: red;
}

/* ------------------- Main Page Styles v01 ------------------- */
#container {
    color: white;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    text-align: center;
}

/* Header Section Styles */
#headerContainer {
    background-color: var(--pc);
    display: block;
    position: relative;
    width: 100vw;
    height: 10vh;
    margin: auto;
    padding: 1vh 0;
    font-family: var(--ebg);
}

#headerTitle {
    display: block;
    margin: 1vh 0;
    font-family: var(--po);
    font-size: 4vh;
    font-weight: bolder;
}

#headerSubtitle {
    display: block;
    margin: 1vh 0;
}

/* Content Section Styles */
#contentContainer {
    background-color: var(--sc);
    width: 100vw;
    height: 80vh;
}



/* Footer Section Styles */
#footerContainer {
    background-color: var(--tc);
    display: block;
    margin: auto;
    padding: 2.85vh 0;
    font-size: 2vh;
}