
/* ------------------- Default Styles v01 ------------------- */
@import url('https://fonts.googleapis.com/css?family=EB+Garamond|Poiret+One&display=swap');

:root {
    --pc: hsl(270, 100%, 30%);
    --sc: hsl(210, 100%, 70%);
    --tc: hsl(60, 100%, 45%);
    --po: 'Poiret One';
    --ebg: 'EB Garamond';
}

body {margin: 0;}

/* ------------------- Alert Box Styles v01 ------------------- */
/* The alert container */
#alertContainer {
    background-color: var(--pc);
    color: white;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    text-align: center;
}
